<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <!-- Boxicons CSS -->
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <nav class="sidebar locked">
      <div class="logo_items flex">
        <span class="nav_image">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo_img" />
        </span>
        <span class="logo_name">BCP</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
      </div>

      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Dashboard</span>
              <span class="line"></span>
            </div>
            <li class="item">
              <a href="/index" class="link flex">
                <i class="bx bx-home-alt"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="link flex">
                <i class="bx bx-grid-alt"></i>
                <span>Courses</span>
              </a>
            </li>
          </ul>

          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Account</span>
              <span class="line"></span>
            </div>
            <li class="item">
              <a href="/dashboard" class="link flex">
                <i class="bx:user"><iconify-icon icon="bx:user"></iconify-icon></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="item">
              <a href="/logout" class="link flex">
                <i class="bx bx:log-out-circle"><iconify-icon icon="bx:log-out-circle"></iconify-icon></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
          </ul>
        </div>

        <div class="sidebar_profile flex">
            <span class="nav_image">
              <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="logo_img" />
            </span>
            <div class="data_text">
              <span class="name">{{ user[3] }}</span>
              <span class="email">{{ user[6] }}</span>
            </div>
          </div>
      </div>
    </nav>

    <div class="weekcontainer">
        <embed src="{{ url_for('static', filename='fecpdf/fec_week2.pdf') }}" type="application/pdf" width="1800px" height="1000px"/>
    </div>
  </body>
</html>