<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <center>
    <div class="container">
        <h1>Welcome, {{ user[1] }}!</h1>
        <h2>User Details:</h2>
        <ul>
        <h3>
            <li>Username: {{ user[1] }}</li>
            <li>Full Name: {{ user[3] }}</li>
            <li>Gender: {{ user[4] }}</li>
            <li>Address: {{ user[5] }}</li>
            <li>Email:{{ user[6] }}</li>
            <li>Contact Number: {{ user[7] }}</li>
        </h3>
        </ul>
        <a href="/logout">Logout</a>
    </div>
    </center>
</body>
</html>
