<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>User Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <center>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="alert">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </center>
      <form method="POST" action="/">
        <div class="field">
          <input type="text" id="username" name="username" required />
          <label>Username</label>
        </div>
        <div class="field">
          <input type="password" id="password" name="password" required />
          <label>Password</label>
        </div>
        <div class="content"></div>
        <div class="field">
          <input type="submit" value="Login" />
        </div>
        <div class="signup-link">
          Don't have an account? <a href="/register">Register Now</a>
        </div>
      </form>
    </div>
  </body>
</html>
